
body {
    font-family: 'Arial', sans-serif;
    background-color: #efe7f7; 
    margin: 0;
    padding: 20px;
    color: #555555; 
    text-align: center;
}

.login-container {
    display: flex;
    justify-content: flex-start; 
    align-items: flex-start; 
    gap: 300px; 
    margin-top: 40px; 
    margin-left: 80px; 
}

.image-container {
    display: flex;
    flex-direction: column; 
    gap: 10px; 
    flex-shrink: 0; 
    text-align: center; 
    margin-right: 30px; 
}

.image-container img {
    max-width: 100%; 
    height: auto;
    
}

.container {
    max-width: 1000px;
    transform: scale(1.3) translateY(50px); 
}

h2 {
    color: #8352b0; 
    margin-bottom: 20px;
}

p {
    font-size: 16px;
}

.welcome-message {
    padding: 10px; 
    margin-bottom: 10px; 
    font-size: 80px;
    font-weight: bold; 
    color: #000000; 
    border-radius: 10px; 
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.2); 
    padding-bottom: 10px; 
    transform: scale(1.4) translateY(5px); 
}

.welcome-message span {
    font-size: 30px; 
    color: #8352b0; 
}

form {
    background-color: #efe7f7; 
    padding: 20px;
    margin: 0 auto;
    max-width: 400px;
    box-shadow: 0 0 500px rgba(0, 0, 0, 0.1);
    border-radius: 5px;
    text-align: left;
}

form p {
    margin: 0 0 15px;
}

form input[type="text"],
form input[type="password"] {
    width: calc(100% - 22px);
    margin-top: 3%;
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid #ebdada; 
    border-radius: 5px;
}

form button {
    background-color: #8352b0; 
    color: #ffffff;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
    transition: background-color 0.3s;
    width: 100%;
}

form button:hover {
    background-color: #8352b0; 
}

form p a {
    color: #8352b0;
    text-decoration: none;
    transition: color 0.3s;
}

form p a:hover {
    color: #8352b0; 
}

p {
    font-size: 14px;
}

p a {
    color: #8352b0; 
    text-decoration: none;
    font-weight: bold;
    transition: color 0.3s;
}

p a:hover {
    color: #8352b0; 
}


@keyframes zoomIn {
    from {
        transform: scale(0); 
    }
    to {
        transform: scale(1);
    }
}
