body {
    font-family: 'Arial', sans-serif;
    margin: 0;
    padding: 0;
    background-color: #efe7f7;
    color: #333;
    position: relative; 
}

.logout-container {
    position: absolute; 
    top: 20px; 
    right: 70px;
}

.logout-button {
    background-color: #8352b0;
    color: white;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
    font-size: 1em;
    transition: background-color 0.3s;
}

.logout-button:hover {
    background-color: #7536af;
}

h1 {
    text-align: center;
    color: #8352b0;
    margin-top: 20px;
    font-size: 2.5em;
    transition: color 0.3s ease;
}

h1:hover {
    color: #8352b0;
}

form {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 20px 0;
    animation: fadeInDown 0.5s ease forwards;
}

@keyframes fadeInDown {
    from {
        opacity: 0;
        transform: translateY(-20px);
    }
    to {
        opacity: 1;
        transform: translateY(0);
    }
}

form input, form select, form button {
    margin: 0 10px;
    padding: 10px;
    border-radius: 5px;
    border: 1px solid #efe7f7;
    font-size: 1em;
    transition: border-color 0.3s, box-shadow 0.3s;
}

form input:focus, form select:focus, form button:focus {
    border-color: #8352b0;
    box-shadow: 0 0 5px rgba(76, 175, 80, 0.5);
}

form button {
    background-color: #7839b4;
    color: #efe7f7;
    border: none;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

form button:hover {
    background-color: #7536af;
}

table {
    width: 80%;
    margin: 0 auto;
    border-collapse: collapse;
    margin-top: 20px;
    background: #efe7f7;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

th, td {
    padding: 15px;
    text-align: left;
    border-bottom: 1px solid #ddd;
    font-weight: bold;
}

th {
    background-color: #8352b0;
    color: white;
}

tr:hover {
    background-color: #f1f1f1;
}

a {
    color: #8352b0;
    text-decoration: none;
    transition: color 0.3s ease;
}

a:hover {
    color: #8352b0;
}

p {
    text-align: center;
    font-size: 1.2em;
    color: #777;
}

@media (max-width: 768px) {
    form {
        flex-direction: column;
        align-items: stretch;
    }

    form input, form select, form button {
        margin: 10px 0;
    }

    table {
        width: 100%;
    }

    th, td {
        padding: 10px;
    }

    h1 {
        font-size: 2em;
    }
}

.banner {
    width: 100%;
    max-width: 1000px;
    margin: 20px auto;
    display: block;
}
