
body {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
}

.left-image, .right-image {
    position: fixed;
    top: 50%;
    transform: translateY(-50%);
    width: 450px; 
    height: auto;
}

.left-image {
    left: 0;
}

.right-image {
    right: 0;
}


.content {
    flex-grow: 1;
    margin: 0 200px; 
    padding: 20px;
}


.save-image {
    display: block;
    margin: 20px auto;
    max-width: 600px;
    text-align: center;
}


body {
    font-family: 'Arial', sans-serif;
    background-color: #efe7f7;
    margin: 0;
    padding: 20px;
    color: #333;
    line-height: 1.6;
}

h1, h2 {
    color: #8352b0;
    text-align: center;
}

ul {
    list-style-type: none;
    padding: 0;
    margin: 0 auto;
    max-width: 800px;
}

li {
    background-color: #efe7f7;
    border: 1px solid #815ca8;
    border-radius: 5px;
    margin: 10px 0;
    padding: 15px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s ease, box-shadow 0.3s ease;
}

li:hover {
    transform: translateY(-5px);
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.1);
}

p {
    margin: 5px 0;
    font-size: 16px;
}

a {
    color: #8352b0;
    text-decoration: none;
    transition: color 0.3s;
}

a:hover {
    color: #7943ac;
}

h1 {
    margin-top: 0;
}

h2 {
    margin-top: 40px;
    margin-bottom: 20px;
}

ul:first-of-type li {
    border: 2px solid #b08bd5;
    background-color: #e3cff7;
    transition: border-color 0.3s, background-color 0.3s;
}

ul:first-of-type li p {
    font-weight: bold;
}

.no-products-found {
    text-align: center;
    font-size: 2em !important;
    font-weight: bold !important;
    color: #8352b0 !important;
    margin-top: 50px !important;
}

.go-back-button {
    position: absolute; 
    top: 30px; 
    left: 40px; 
    background-color: #8352b0;
    color: white;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
    font-size: 1em;
    transition: background-color 0.3s;
}

.go-back-button:hover {
    background-color: #7536af;
}