
body {
    font-family: 'Arial', sans-serif;
    background-color: #efe7f7;
    margin: 0;
    padding: 20px;
    color: #333;
    text-align: center;
    transform: scale(1.2) translateY(80px);;
}

h2 {
    color: #8352b0;
    margin-bottom: 20px;
    transform: scale(1.5) ;
}

form {
    background-color: #efe7f7;
    padding: 20px;
    margin: 0 auto;
    max-width: 400px;
    box-shadow: 0 0 500px rgba(0, 0, 0, 0.1);
    border-radius: 5px;
    text-align: left;
}


form p {
    margin: 0 0 15px;
}

form input[type="text"],
form input[type="password"],
form input[type="email"] {
    width: calc(100% - 22px);
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

form button {
    background-color: #8352b0;
    color: #ffffff;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
    transition: background-color 0.3s;
    width: 100%;
}

form button:hover {
    background-color: #7c3bb8;
}
